<h1>Rayman's {{titulo}}</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <input type="number" [(ngModel)]="numero1">
    </div>
    <div class="col">
      <button type="submit" (click)="sumar()" class="btn btn-primary">Suma</button>
      <button type="submit" (click)="restar()" class="btn btn-secondary">Resta</button>
      <button type="submit" (click)="multiplicar()" class="btn btn-success">Multiplicación</button>
      <button type="submit" (click)="dividir()" class="btn btn-danger">División</button>
    </div>
    <div class="col">
      <input type="number" [(ngModel)]="numero2">
    </div>
  </div>
</div>
<p>{{resultado}}</p>
<!--
<input class="inputs" type="number" [(ngModel)]="numero1">
<p>Operando</p>
<input class="inputs" type="number" [(ngModel)]="numero2">
<div id="botones">
  <button type="submit" (click)="sumar()">Suma</button>
  <button type="submit" (click)="restar()">Resta</button>
  <button type="submit" (click)="multiplicar()">Multiplicación</button>
  <button type="submit" (click)="dividir()">División</button>
</div>
<p>{{resultado}}</p>-->
<!--<app-calculadora></app-calculadora>-->
